html[page-class="watch"] #player,
html[page-class="watch"] #player-container-id,
html[page-class="watch"] #movie_player,
html[page-class="watch"] .player-size,
html[page-class="watch"] .player-placeholder-wrapper {
    visibility: hidden !important;
    opacity: 0 !important;
}

html[page-class="watch"] body {
    margin-top: -48px !important;
}

html[page-class="watch"] ytm-engagement-panel {
    top: 56.25vw !important;
    inset: 56.25vw 0px 0px !important;
}

html[page-class="watch"] ytm-related-chip-cloud-renderer {
    margin-top: -48px !important
}
